language: android

jdk:
  - oraclejdk8

android:
  components:
   - tools
   - build-tools-23.0.2
   - android-23
  - extra-android-m2repository
  - extra-google-google_play_services
  - extra-google-m2repository
  licenses:
   - android-sdk-license-.+

script: ./gradlew build